In [1]:
import numpy as np
import pandas as pd
np.random.seed(42)

# CSV-Datei: fehlende Werte, NAN
Es kommt häufig vor, dass in Datensätzen Werte fehlen. Zum Beispiel fehlende Sensorwerte oder nicht als Zahl intertpretierbare Zahlen.

## Was sind NAN-Werte?
NaN-Werte (kurz für Not a Number) sind spezielle Werte in Daten, die verwendet werden, um fehlende oder undefinierte Daten in einem Datensatz darzustellen. Sie sind ein zentraler Bestandteil von Datenanalyse- und Datenverarbeitungsbibliotheken wie Pandas. 

Numpy bietet einen numerischen Datentyp `nan` an, den wir nutzen können. Im folgenden Beispiel erstellen wir einen DataFrame aus einem Dictionary mit einem NaN-Wert. Uns fällt auf, dass der Wert NaN ein Float-Wert ist (nach ISO 754).

In [2]:
type(np.nan)

float

In [2]:
# erstelle ein Dict mit NAN-Werten

### Probleme beim arithmetischen Operationen
Bei vielen Daten würde es u.U. gar nicht auffallen, dass sich NaN-Werte eingeschlichen hätten. Würden wir zum Beispiel die Summe aller Werte einer Spalte berechnen, wäre das Ergebnis allerdings kein NaN-Wert, sondern der NaN-Wert wird einfach ignoriert! 

Generell gilt: bei arithmetischen Operationen wie `sum()` werden NaN-Werte als 0 aufgefasst.

In [4]:
# wir können zwar damit rechnen, Nan-Werte werden als 0 aufgefasst

(np.int64(10), np.float64(15.0))

#### Cumsum
in der kummulierten Summe ergibt sich ein falscher Wert, da NaN-Werte ignoriert werden. 

Mit `skipna` lässt sich dieses Verhalten ändern. Dann findet tatsächlich eine Addition statt, aber es gilt: 2 + Nan = NaN.

In [3]:
# cumsum von Spalte b

## Beispiel-Datei Sensordaten
Wir wollen Sensordaten einer sensordata.csv importieren und prüfen, wie wir mit fehlenden Werten umgehen können.

### Datei einlesen
Probleme: Nicht vorhande Werte werden als NaN (Not a number) abgebildet und die Werte der ersten Zeile der kopflosen CSV-Datei werden als Spaltennamen verwendet. Wenn wir beim Einlesen `header=None` setzen, werden numerische Spaltennamen vergeben (Int64Index).

In [4]:
file_name = "data/sensordata.csv"

### 1. Spaltennamen anpassen
Die 3 Spalten bezeichnen die 3 Sensoren A, B, C. Wir wollen die Spaltennamen jetzt umbenennen.

In [5]:
# Spaltennamen angeben

## Fehlende Werte anzeigen lassen
Wir können uns eine boolsche Matrix mit den fehlenden Werten anzeigen lassen. Mit solchen boolschen Serien und Matritzen lässt sich später auch filtern.

In [6]:
# isna nutzen, umd eine boolsche Matrix zu erstellen

### Fehlende Werte zählen
- isna(): Not Available
- isnull(): ältere Methode, die genau gleich isna() ist (deprecated)

In [7]:
# Spaltenweise NAN-Werte zählen

### Prüfen, ob in Spalte A ein wahrer Wert vorkommt (Series Methoden)

Die Methoden any, all und isnull() können ausgefüht werden, zu prüfen, ob Werte falsy oder NaN sind
- isnull: eine boolsche Serie, die wahr zeigt, wenn NaN
- any: eine boolsche Funktion, die wahr ist, wenn ein Wert der Serie wahr ist
- all: eine boolsche Funktion, die wahr ist, wenn ein Wert der Serie wahr ist

In [8]:
# any nutzen, um zu prüfen, ob in Spalte a zumindest ein wahrer Wert vorkommt (vlg. Python any)
d = {
    "a": [0, 0, 0, np.nan],
    "b": [4, 5, 1, 6],
    "c": [0, 0, 0, 0]
}

### Prüfen, ob in Spalte A alle Werte truthy sind (all)

In [9]:
# all nutzen

### 2. Zeilen mit Nan-Werten aus dem DataFrame löschen
eine mögliche Strategie, mit NaN-Werten umzugehen, ist es, Zeilen, die mindestens einen NaN-Wert enthalten, komplett zu löschen. Das ist nicht immer möglich aber bei Sensordaten, die im Millisekundentakt gemessen werden, ist das eine angemessene Strategie.

In [10]:
# DataFrame anhand der Rows-Achse löschen, wenn ein NAN-Wert in der Zeile vorkommt

### 3. Mindest Anzahl an NaN-Werten pro Zeile
wir können für die Methode `dropna()` auch einen threshhold angeben, ab wievielen Nan-Werten pro Zeile die Zeile gelöscht werden soll. Im folgenden Beispiel löschen wir nur Zeilen aus dem Dataframe, die mindestens zwei NaN-Werte enthalten.

In [11]:
# threshold angeben, wieviele NaN-Werte in der Zeile vorkommen müssen

### Spalten löschen
bisher haben wir immer ganze Spalten gelöscht, wenn ein NaN-Wert in der Zeile vorkam. Wir können natürlich auch Spalten löschen. Im Beispiel bleibt nur der Index übrig, weil jede Spalte mindestens einen Nan-Wert besitzt. Grundsätzlich ist das Löschen ganzer Spalten wohl eher die Ausnahme.

In [13]:
# Zeilen löschen

### Inplace Löschen
wir müssen den Dataframe nicht zwingend umkopieren, es ist auch ein inplace-Löschen der Zeilen möglich

In [56]:
# Zeilen inplace llöschen

           0        1        2
4    2043.03  1103.48  1143.08
5    2081.55   662.27  1799.80
6     276.57  1324.42  1063.86
9    1266.55  1410.51  1803.36
10   1582.38  1281.72  1727.09
..       ...      ...      ...
995   637.47   806.51   727.65
996   951.60  1535.97   147.27
997  1289.55   914.46   929.24
998  1717.64   397.15   735.26
999  1302.95  1344.66  1889.80

[941 rows x 3 columns]

## Fehlende Werte auffüllen
Wir können fehlende Werte auch mit Platzhalterwerten auffüllen. Im folgenden Beispiel füllen wir alle fehlenden Werte mit 0 auf. Die Operation lässt sich nütürlich ebenso inplace durchführen.

In [14]:
# Fehlende Werte auffüllen

## Fehlende Werte interpolieren
Wir können fehlende Werte natürlich auch durch andere, selbst errechnete Werte ersetzen, dazu später mehr. Eine einfache Methode, fehlende Werte mit Mittelwerten vorhergehender und nachfolgender Werte zu ersetzen, ist die Methode `interpolate`. Mit dem Parameter `limit_direction` lässt sich bestimmen, ob die Interpolation von "vorne" oder hinten durchgeführt wird. Der default-Wert ist hier `forward`.

Zusätzlich kann auch noch mit `method` die Interpolations-Methode gewählt werden. Neben `linear` (default-Wert) gibt es noch `nearest`, `values`, `quadratic` und einige andere mehr. Hier sei wieder auf die Doku verwiesen:

https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.DataFrame.interpolate.html?highlight=interpolate#pandas.DataFrame.interpolate

In [15]:
# Fehlende Werte in  Spalten interpolieren

In [16]:
# Da hier die ersten beiden Werte der Spalte NaN sind, lässt sich mit forward nicht interpolieren.
# dann kann backward genutzt werden, um von hinten zu beginnen