In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(42)

# Arithmetische Funktionen

Diese können entweder mit der Pandas-Funktion oder per Operator ausgeführt werden. 
die Funktion ist nur nötig, wenn zusätzliche Argumente übergeben werden müssen.

| Python Operator  | Pandas Funktion  | Beispiel       |
|------------------|------------------|----------------|
| +                | add()            | M.add(N)       |
| -                | sub()            | M.sub(N)       |
| *                | mul()            | M.mul(3)       |
| /                | div()            | M.div(N)       |
| //               | floordiv()       | M.floordiv(N)  |
| %                | mod()            | M.mod(N)       |
| **               | pow()            | M.pow(N)       |

In [10]:
c = {
    "a": [3, 3],
    "b": [3, 4],
}

d = {
    "a": [1, 2, 3],
    "b": [4, 5, 6],
    "c": [13, 14, 17],
}
M = pd.DataFrame(c)
N = pd.DataFrame(d)

display(N)
display(M)

   a  b   c
0  1  4  13
1  2  5  14
2  3  6  17

   a  b
0  3  3
1  3  4

## Addition von zwei Dataframes
Falls die DataFrames nicht die gleiche Spalten/Zeilenanzahl haben, ergeben sich hier NaN-Werte. Man kann beim Addieren dem entgegenwirken, indem man `fill_value` auf 0 setzt. In diesem Fall ist der Datentyp der Ergebnisspalten ein Float (NAN ist ein Floatwert)

In [1]:
# Addition (die additive Eigenschaft auf 0 setzen, um NAN-Werte zu vermeiden).

### Addition von Spaltenwerten
im Beispiel rechne wir 3 + 3 + 9. Auf die Series lassen sich wieder die arith. Numpy-Funktionen ausführen.

In [41]:
N.a.sum()

np.int64(6)

## Subtraktion von zwei DataFrames
Es wird elementweise abgezogen. Falls die Dataframes nicht das gleiche Shape haben, ergeben sich wieder NaN-Werte.

In [2]:
display(M.sub(M)), display(M.sub(N, fill_value=0))

NameError: name 'M' is not defined

## Subtraktion von zwei Spalten

In [44]:
# Subtraktion von zwei Spalten

0    0
1   -1
dtype: int64

## Multiplikation 
Die Multiplikation findet elementweise sowie statt.

In [4]:
# Multiplikation
...

In [5]:
# Floor Division (rundet ab)

In [12]:
# Potenz pow

<bound method DataFrame.pow of    a  b
0  3  3
1  3  4>

In [13]:
# Modulo