# Die Apply Methode
Mit der Apply-Methode lassen sich auf Spalten Funktionen anwenden. So könnte man zum Beispiel Einträge einer Spalte anhand einer Vergleichsfunktion kategorisieren oder die Einträge verändern.

Doku:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Beispiel 
Gegeben ist ein Dataframe mit Daten von Bergen. Wir wollen jetzt die Einträge der Spalte "Hill_Name" so verändern, dass wir den Suffix "_MT" von jeden jedem Eintrag rauslöschen.

In [2]:
scottish_hills = {
    'Hill_Name': ['Ben Nevis_MT', 'Ben Macdui_MT', 'Braeriach_MT', 'Cairn Toul_MT', 'Sgòr an Lochan Uaine_MT'],
    'Height': [1345, 1309, 1296, 1291, 1258],
    'Latitude': [56.79685, 57.070453, 57.078628, 57.054611, 57.057999],
    'Longitude': [-5.003508, -3.668262, -3.728024, -3.71042, -3.725416]}


df = pd.DataFrame(scottish_hills)
df

                 Hill_Name  Height   Latitude  Longitude
0             Ben Nevis_MT    1345  56.796850  -5.003508
1            Ben Macdui_MT    1309  57.070453  -3.668262
2             Braeriach_MT    1296  57.078628  -3.728024
3            Cairn Toul_MT    1291  57.054611  -3.710420
4  Sgòr an Lochan Uaine_MT    1258  57.057999  -3.725416

### Löschen des Suffixes _MT
wir schreiben dazu eine Funktion, die einen String entgegennimmt, und den Substring _MT durch einen leeren String ersetzt. Danach nutzen wir die Methode apply auf der Spalte Hill_Name und führen somit für jeden Eintrag in dieser Spalte die Funktion auf. `apply()` erwartet als Argument eine Funktionsreferenz.

Die Funktion `replace_suffix` erwartet als Parameter einen String. Die Funktion wird nun auf jeden Wert der Spalte angewandt.

In [3]:
# replace suffix

### Neue Spalte Bergkategorie
Wir wollen jetzt eine neue Spalte in den DataFrame einfügen. Und zwar wollen wir eine Kategoriespalte haben, die den Berg nach seiner Höhe klassifiziert. Wir haben zwei Klassen: `small` und `big`. 

Dazu schreiben wir eine Funktion, die die Klassifizierung anhand der Spalte `Height` vornimmt. Und wir erstellen eine neue Spalte im Dataframe `df`.

In [4]:
# Kategoriesierung

In [5]:
# Barchart

In [6]:
# Rundung

## Eindeutige Werte einer Spalte bestimmen

In [7]:
# eindeutige Kategorien des Bergers

## Duplikate bestimmen
Das Gegenteil von `unique` ist die Funktion `duplicated`. Diese Methode, die auf einen Dataframe sowie auf eine Series angewendet werden kann, erzeugt eine boolsche Serie aller Einträge, die doppelt in dem Dataframe vorkommen. wird die Methode auf einen `DataFrame` angewandt, werden bei der Überprüfung alle Spalten berücksichtigt.

Mehr dazu unter:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

In [8]:
# Anzahl der Dupletten